@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


html {
    margin: 0;
  }
  
  body {
    max-width: 2600px;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
    margin: 0 auto;
    padding: 0;
    border: none;
  }